<!DOCTYPE html>
<html>
<head>
  <title>HashtagInNyc</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="initial-scale=1.0">
  
</head>
<body>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.gmaps_key%>">
  </script>

  <%= yield %>

</body>
</html>
